/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/


/* src/styles/KanbanBoard.css */
.kanbanBoard {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.kanbanHeader {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.boardTitles {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.boardTitleButton {
	box-shadow: var(--shadow-activated-tab-header-dark) !important;
	background: transparent !important;
	border-radius: var(--border-radius-activated-tab-header-dark);
}

.boardTitleButtonActive {
	box-shadow: var(--shadow-activated-tab-header-dark) !important;
	background: var(--background-activated-tab-header-dark) !important;
	border-radius: var(--border-radius-activated-tab-header-dark);
	border: var(--border-width) solid olive;
}

.kanbanHeaderBtns {
	display: flex;
	flex-direction: row;
}

.kanbanHeaderBtnsSeparator {
	padding-inline: 0;
}

.addTaskBtn,
.ConfigureBtn,
.RefreshBtn {
	background-color: transparent !important;
	background: none;
	padding: 7px;
	margin-inline: 0.3em;
	/* color: #fff; */
	/* border: none; */
	/* border-radius: 3px; */
	cursor: pointer;
	/* font-size: 14px; */
}

.addTaskBtn:hover,
.ConfigureBtn:hover,
.RefreshBtn:hover {
	border: var(--border-width) solid olive;
}

.columnsContainer {
	display: flex;
	overflow-x: auto;
	padding: 10px;
	height: 100%;
}


/* src/styles/Column.css */
.kanbanColumn {
	background: transparent !important;
	/* backdrop-filter: blur(10px) saturate(300%) contrast(80%) brightness(60%); */
	border: var(--border-width) solid olive;
	border-radius: 15px;
	margin-right: 10px;
	border-radius: 5px;
	width: 300px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
}

.columnHeaderBar {
	display: flex;
	flex-direction: row;
	padding: 10px;
	background: var(--background-primary);
	justify-content: space-between;
	align-items: center;
}

.columnTitle {
	color: var(--foreground-primary);
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
}

.columnDragIcon {
	opacity: 0;
}

.columnDragIcon:hover {
	opacity: 1;
}

.tasksContainer {
	padding: 10px;
	flex: 1;
	overflow-y: auto;
	gap: 10px;
	display: flex;
	flex-direction: column;
}


/* /src/components/TaskItem.tsx */

.taskItem {
	background: var(--background-secondary);
	border: var(--border-width) solid olive;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
}

.colorIndicator {
	width: 0.3em;
	height: 100%;
	/* float: left; */
	margin-right: 5px;
	border-radius: 6px 0px 0px 6px;
}

.taskItemMainContent {
	margin-block: 0.3em;
	margin-inline-end: 0.3em;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.taskItemMainBody {
	margin-block: 0.6em;
	display: flex;
	flex-direction: row;
	gap: 0.4em;
}

.taskItemBody {
	padding: 0;
	font-weight: 500;
}

.taskCheckbox {
	transform: scale(1);
	transition: transform 0.3s;
}

.taskCheckbox.checked {
	transform: scale(1.5);
	/* Slight animation effect */
	transition: transform 0.3s;
}

.taskItemTag {
	background-color: var(--blockquote-background-dark);
	border-radius: 10px;
	padding-block: 2px;
	padding-inline: 7px;
	width: fit-content;
	color: rgb(206, 206, 10);
	font-size: 0.9em;
}

.taskItemDate {
	color: rgb(185, 125, 13);
}

.taskItemHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.DragBtn {
	opacity: 0;
	background-color: var(--background-primary-alt);
	border: none;
	cursor: pointer;
	padding-block: 2px;
	padding-inline: 4px;
	border-radius: 5px;
	/* margin: 0 5px; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	/* Adjust size as needed */
	transition: transform 0.2s;
	/* Animation for hover effect */
}

.DragBtn:hover {
	transform: scale(1.1);
}

.DragBtn:hover {
	opacity: 1;
}

.taskItemFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.taskItemFooterBtns {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.taskItemiconButton {
	background: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 2px;
	/* margin: 0 5px; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	/* Adjust size as needed */
	transition: transform 0.2s;
	/* Animation for hover effect */
}

.taskItemiconButton:hover {
	transform: scale(1.1);
	/* Slightly enlarge on hover */
}

.taskItemiconButton:focus {
	outline: none;
	/* Remove default focus outline */
}


/* /src/compoenents/BoardModal.tsx */

.config-modal {
	display: flex;
	width: 100%;
	height: 100%;
}

.config-modal-sidebar {
	width: 200px;
	background-color: #f0f0f0;
	border-right: 1px solid #ddd;
	padding: 10px;
}

.config-modal-sidebar div {
	margin: 10px 0;
	cursor: pointer;
}

.config-modal-sidebar div.active {
	font-weight: bold;
}

.config-modal-content {
	flex-grow: 1;
	padding: 20px;
}


/* /src/components/AddTaskModal.tsx */

.modal-content-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.modal-content-wrapper h2 {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.modal-content-wrapper p {
	margin-bottom: 20px;
	font-size: 14px;
	color: #bebbb7;
	text-align: center;
}

.modal-content-wrapper input {
	/* margin-bottom: 10px; */
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.modal-content-wrapper button {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	margin-top: 40px;
}

.modal-content-wrapper button:hover {
	background-color: #0056b3;
}

.due-input-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* Align items vertically centered */
	/* margin-bottom: 10px; */
	/* Space below the entire row */
}

.due-input-wrapper h6 {
	margin: 0;
	margin-right: 10px;
}

.due-input-wrapper input {
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 4px;
}


/* /src/components/EditTaskModal.tsx */

.EditTaskModalHome {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.EditTaskModalHome-title {
	font-size: 20px;
	font-weight: 600;
	margin-block-end: 20px;
	align-self: center;
}

.EditTaskModalHome-taskBody {
	width: 100%;
	min-height: 40px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

..EditTaskModalHome-taskBody:active {
	border: 1px solid #fffb26;
}

.EditTaskModalHome-tag,
.EditTaskModalHome-due {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.EditTaskModalHome-tagValue .EditTaskModalHome-dueValue {
	/* margin-bottom: 10px; */
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

td {
	padding: 5px;
	padding-inline: 8px;
}

.previewBox {
	background-color: rgb(26, 21, 11);
	border-radius: 5px;
	padding-inline: 8px;
	padding-block: 15px;
}

.EditTaskModalHome button {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	color: white;
	background-color: #0056b3;
	cursor: pointer;
	margin-top: 40px;
	width: 100%;
}

.EditTaskModalHome button:hover {
	background-color: #007bff;
}
